%html
  %head
    %script(src="lib/cornerstone.js")
    %script(src="lib/coffee-script.js")
    %script(src="lib/jquery-1.10.2.min.js")
    %script(src="build/web.js")

    :styl
      textarea
        font-family: monospace
        height: 400px
        width: 320px

      #actions
        position: fixed
        top: 20px
        right: 20px

      #errors
        color: red

      body
        background-color: #ECFBFF
        color: #2B231C
        width: 960px
        margin: auto
        padding-top: 1em
        font-family: helvetica

      .titles
        h2
          display: inline-block
          width: 320px
          margin: 0.25em 0

  %body
    %h1 Tempest - Alpha

    %p Create simple interactive HTML components using CoffeeScript, HamlJr, and Styl

    %p There are still many bugs, but I think this is interesting enough to put out into the world for feedback.

    #actions
      %button.save Save

    #errors

    .titles
      %h2 Data
      %h2 Template
      %h2 Style

    %textarea#data
      :stet
        tickets: [
          {name: "None", price: null}
          {name: "Economy", price: 199.95}
          {name: "Business", price: 449.22}
          {name: "First Class", price: 1199.99}
        ]
        chosenTicket: Observable()
        resetTicket: ->
          @chosenTicket(@tickets[0])

    %textarea#template
      :stet
        Choose a ticket class:
        %select
          - on "change", @chosenTicket
          - each @tickets, ->
            %option= @name

        %button Clear
          - on "click", @resetTicket

        - with @chosenTicket, ->
          %p
            - if @price
              You have chosen
              %b= @name
              %span $#{@price}
            - else
              No ticket chosen

    %textarea#style
      :stet
        #preview
          font-family: helvetica
          padding: 1em

          b
            margin: 0 0.25em

    %h2 Preview

    #preview
