Choose a ticket class:
%select
  - on "change", @chosenTicket
  - @tickets.each (ticket) ->
    %option
      - observing ticket, ->
        = @name

%button Clear
  - on "click", @resetTicket

%p
  - observing @chosenTicket, ->
    You have chosen
    %b= @name
    %span
      $
      = @price
