[
  {
    "tag": "select",
    "children": [
      {
        "unbufferedCode": "@tickets.each (ticket) ->",
        "children": [
          {
            "tag": "option",
            "children": [
              {
                "bufferedCode": "ticket.name"
              }
            ]
          }
        ]
      }
    ]
  }
]