[
  {
    "filter": "test",
    "content": "radical\n"
  },
  {
    "filter": "badical",
    "content": "noice\n"
  },
  {
    "classes": [
      "duder"
    ],
    "children": [
      {
        "text": "col"
      }
    ]
  },
  {
    "classes": [
      "duder2"
    ],
    "children": [
      {
        "text": "cool"
      }
    ]
  }
]