[
  {
    "filter": ":test",
    "children": [
      "radical"
    ]
  },
  {
    "filter": ":badical",
    "content": "noice\n"
  },
  {
    "classes": [
      "afterFilter"
    ],
    "children": [
      {
        "text": "yolo"
      }
    ]
  }
]